name: Deploy UAT to GitHub Pages

on:
  push:
    branches:
      - release/uat
  workflow_dispatch: {}

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GH_PAT }}
          publish_dir: ./getjjobs-landing
          publish_branch: gh-pages
          # nuke and pave each deploy
          force_orphan: true
